<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Cari</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<script th:src="@{/js/bootstrap.min.js}"></script>
	</head>

	<body>
		<nav th:replace="fragments/fragment :: navbar('Cari')"></nav>

		<div class="container welcome">
			<h1 class="text-center">Selamat Datang di Fitur CARI SIVAKSIN!</h1>
		</div>
		<div class="d-flex justify-content-center">
			<div class="m-4">
				<div class="d-flex justify-content-center">
					<a th:href="@{/cari/faskespertama}" class="mx-2 btn btn-dark"
						>Cari Faskes Bedasarkan Vaksin
					</a>
					<a th:href="@{/cari/faskeskedua}" class="mx-2 btn btn-outline-dark"
						>Cari Pasien berdasarkan vaksin dan Faskes</a
					>
				</div>
			</div>
		</div>
	</body>
	<footer th:replace="fragments/fragment :: footer()"></footer>
</html>
