<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<title>Detail Faskes</title>
		<meta charset="UTF-8" />
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>

	<body>
		<nav th:replace="fragments/fragment :: navbar('Faskes')"></nav>
		<div class="container">
			<h2>Detail Faskes</h2>
			<br />
			<div class="card m-4 p-4">
				<div class="card-body">
					<div class="justify-content-center">
						<h5>Nama Fasilitas Kesehatan :</h5>
						<p th:text="${faskes.namaFaskes}"></p>
						<h5>Kuota :</h5>
						<p th:text="${faskes.kuota}"></p>
						<h5>Provinsi :</h5>
						<p th:text="${faskes.provinsi}"></p>
						<h5>Kabupaten :</h5>
						<p th:text="${faskes.kabupaten}"></p>
						<h5>Jam Mulai:</h5>
						<p th:text="${faskes.jamMulai}"></p>
						<h5>Jam Selesai:</h5>
						<p th:text="${faskes.jamTutup}"></p>
						<h5>Jenis Vaksin:</h5>
						<ul>
							<li th:text="${vaksin}"></li>
							<li th:text="${efikasi}"></li>
							<li th:text="${negara}"></li>
						</ul>
						<br />
						<div class="text-center mt-5 ml-3 mr-4 mb-5">
							<a
								th:class="${'btn btn-secondary'}"
								th:href="@{/faskes/ubah/} + ${faskes.idFaskes}"
								>Ubah</a
							>

							<a
								th:class="${'btn btn-danger'}"
								th:href="@{/faskes/hapus/} + ${faskes.idFaskes}"
								>Hapus</a
							>
						</div>
					</div>
				</div>
				<br />
			</div>
			<br />
			<a
				th:class="${'btn btn-secondary'}"
				th:href="@{/faskes/} + ${faskes.idFaskes} + @{/tambah/pasien}"
				>Tambah Pasien</a
			>
			<br />
			<div class="card m-4 p-4">
				<div class="card-body">
					<div class="justify-content-center">
						<table class="table">
							<thead>
								<tr>
									<th>No</th>
									<th>Nama</th>
									<th>NIK</th>
									<th>Nomor Telepon</th>
									<th>Jenis Kelamin</th>
									<th>Tempat Lahir</th>
									<th>Pekerjaan</th>
									<th></th>
								</tr>
							</thead>
							<tbody th:each="patient, x : ${patients}">
								<tr>
									<td th:text="${x.count}"></td>
									<td th:text="${patient.namaPasien}"></td>
									<td th:text="${patient.nik}"></td>
									<td th:text="${patient.noTelepon}"></td>
									<td
										th:text="${patient.jenisKelamin == 0} ?'Laki-laki' : 'Perempuan'"
									></td>
									<td th:text="${patient.tempatLahir}"></td>
									<td th:text="${patient.pekerjaan}"></td>
									<td>
										<a
											class="btn btn-primary"
											th:href="@{/pasien/} + ${faskes.idFaskes}"
											>Lihat</a
										>
										<a
											th:class="${'btn btn-primary'}"
											th:href="@{/pasien/ubah/} + ${faskes.idFaskes}"
											>Ubah</a
										>
									</td>
								</tr>
							</tbody>
						</table>

						<br />
					</div>
				</div>
				<br />
			</div>
			<a class="btn btn-primary" href="/">Kembali</a>
		</div>
		<footer th:replace="fragments/fragment :: footer()"></footer>
	</body>
</html>
