<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<title>Faskes</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>

	<body>
		<nav th:replace="fragments/fragment :: navbar('Cari')"></nav>
		<p>Pilih Jenis Vaksin</p>

		<form th:action="@{/cari/faskes}" method="GET">
			<select
				required
				name="jenisVaksin"
				class="form-control mt-4 mb-3 ml-5 mr-5"
			>
				<option
					th:each="vaksin : ${vaksins}"
					th:value="${vaksin.jenisVaksin}"
					th:text="${vaksin.jenisVaksin}"
					name="jenisVaksin"
				></option>
			</select>
			<button
				class="btn btn-primary text-right mt-4 mb-3 ml-5 mr-5"
				type="submit"
			>
				Cari
			</button>
		</form>

		<div class="container">
			<h2 class="page-header text-center">Daftar Seluruh Faskes SIVAKSIN</h2>
			<br />
			<div class="card m-4 p-4">
				<div class="card-body">
					<div class="justify-content-center">
						<table class="table">
							<thead>
								<tr>
									<th>No</th>
									<th>Nama</th>
									<th>Kuota</th>
									<th>Provinsi</th>
									<th>Kabupaten</th>
									<th>Jam Mulai</th>
									<th>Jam Selesai</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody th:each="faskes, iterationStatus : ${listFaskes}">
								<tr>
									<td
										class="text-center"
										th:text="${iterationStatus.count}"
									></td>
									<td class="text-center" th:text="${faskes.namaFaskes}"></td>
									<td class="text-center" th:text="${faskes.kuota}"></td>
									<td class="text-center" th:text="${faskes.provinsi}"></td>
									<td class="text-center" th:text="${faskes.Kabupaten}"></td>
									<td class="text-center" th:text="${faskes.jamMulai}"></td>
									<td class="text-center" th:text="${faskes.jamTutup}"></td>
									<td>
										<a
											class="btn btn-primary"
											th:href="@{/faskes/} + ${faskes.idFaskes}"
											>Lihat</a
										>

										<a
											th:class="${'btn btn-secondary'}"
											th:href="@{/faskes/ubah/} + ${faskes.idFaskes}"
											>Ubah</a
										>

										<a
											th:class="${'btn btn-danger'}"
											th:href="@{/faskes/hapus/} + ${faskes.idFaskes}"
											>Hapus</a
										>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<br />
			</div>
		</div>
	</body>
	<footer th:replace="fragments/fragment :: footer()"></footer>
</html>
