<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<title>SIVAKSIN</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>

	<body>
		<nav th:replace="fragments/fragment :: navbar('Pasien')"></nav>

		<div class="container">
			<div class="card m-4 p-4">
				<div class="card-body">
					<div class="justify-content-center">
						<h2>Tambah Pasien SIVAKSIN</h2>
						<br />
						<form
							th:action="@{/pasien/tambah}"
							th:object="${pasien}"
							method="POST"
						>
							Nama Pasien : <br />
							<input
								required
								class="form-control"
								type="text"
								name="namaPasien"
							/>
							<br /><br />

							NIK : <br />
							<input required class="form-control" type="number" name="nik" />
							<br /><br />

							Nomor Telepon : <br />
							<input
								required
								class="form-control"
								type="number"
								name="noTelepon"
							/>
							<br /><br />

							Jenis Kelamin : <br />
							<select required name="jenisKelamin" class="form-control">
								<option th:value="0" th:text="Laki-Laki"></option>
								<option th:value="1" th:text="Perempuan"></option>
							</select>
							<br /><br />

							Tanggal Lahir : <br />
							<input
								required
								class="form-control"
								type="datetime-local"
								name="tanggalLahir"
							/>
							<br /><br />

							Tempat Lahir : <br />
							<input
								required
								class="form-control"
								type="text"
								name="tempatLahir"
							/>
							<br /><br />

							Pekerjaan : <br />
							<input
								required
								class="form-control"
								type="text"
								name="pekerjaan"
							/>
							<br /><br />

							<button class="btn btn-primary" type="submit">Tambah</button>
							<a class="btn btn-primary" href="/">Batal</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
