<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<title>Pasien</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>

	<body>
		<nav th:replace="fragments/fragment :: navbar('Pasien')"></nav>

		<!-- <form th:action="@{/cari/pasien}" method="GET">
			<select required name="jenisVaksin" class="form-control">
				<option
					th:each="vaksin : ${vaksins}"
					th:value="${vaksin.jenisVaksin}"
					th:text="${vaksin.jenisVaksin}"
					name="jenisVaksin"
				></option>
			</select>
			<select required name="namaFaskes" class="form-control">
				<option
					th:each="faskes : ${faskess}"
					th:value="${faskes.namaFaskes}"
					th:text="${faskes.namaFaskes}"
					name="namaFaskes"
				></option>
			</select>
			<button class="btn btn-primary" type="submit">Cari</button>
		</form> -->
		<a class="btn btn-primary p-1 m-4" th:href="@{/pasien/tambah}"
			>Tambah Pasien</a
		>
		<div class="container">
			<h2 class="page-header text-center">Daftar Seluruh Pasien SIVAKSIN</h2>
			<br />
			<div class="card m-4 p-4">
				<div class="card-body">
					<div class="justify-content-center">
						<table class="table">
							<thead>
								<tr>
									<th>No</th>
									<th>Nama</th>
									<th>NIK</th>
									<th>Nomor Telepon</th>
									<th>Jenis Kelamin</th>
									<th>Tanggal Lahir</th>
									<th>Tempat Lahir</th>
									<th>Pekerjaan</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody th:each="pasien : ${listPasien}">
								<tr>
									<td th:text="${pasien.idPasien}"></td>
									<td th:text="${pasien.namaPasien}"></td>
									<td th:text="${pasien.nik}"></td>
									<td th:text="${pasien.noTelepon}"></td>
									<td
										th:text="${pasien.jenisKelamin == 0} ?'Laki-laki' : 'Perempuan'"
									></td>
									<td
										th:text="${#temporals.day(pasien.tanggalLahir)} + ' ' + ${#temporals.monthName(pasien.tanggalLahir)} + ' ' +
                            ${#temporals.year(pasien.tanggalLahir)}"
									></td>
									<td th:text="${pasien.tempatLahir}"></td>
									<td th:text="${pasien.pekerjaan}"></td>
									<td>
										<a
											class="btn btn-primary mb-1"
											th:href="@{/pasien/} + ${pasien.idPasien}"
											>Lihat</a
										>
										<br />
										<a
											th:class="${'btn btn-secondary mt-1'}"
											th:href="@{/pasien/ubah/} + ${pasien.idPasien}"
											>Ubah</a
										>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<br />
			</div>
		</div>
	</body>
	<footer th:replace="fragments/fragment :: footer()"></footer>
</html>
